{% extends 'base.html' %}
{% block title %}
Map
{% endblock %}

{% block content %}

    <style media="screen">

      .container-fluid{
        width: 97%;
        padding: 1%;
        margin: 1%;
        background-color: white;
        border-radius: 10px;
      }
      .header-box{
        width: 80%;
        height: 1%;
        background-color: white;
      }
      .btn-sp{
        border-radius: 15px;
        margin: 10px;
        width: 90%;

      }

      span{
        height:30px;
        width:auto;
        float:right;
      }

      .my-fixed-scrollbar{
        background-color:white;
      }

      p{
      color: white;
      font-family: arial;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }





    a{
      color:red;
    }
    .pdd{
      margin-left:10%;
    }
    .pdd2{
      margin-left:50%;
    }
    .pdd3{
      margin-left:90%;
    }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{ graph_data |safe }});

        var options = {{ options | safe}}


        var chart = new google.visualization.GeoChart(document.getElementById('visualization'));

        chart.draw(data, options);
      }
    </script>
    <div class="container-fluid header-box">
      <div class="row">
        <div class="col-md-9">
         <h3>Coronavirus Outbreak Global</h3>
         <div class="text-muted">
           (Larger dots represents more number of cases)
         </div>
        </div>


      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
            <div id="visualization"></div>
        </div>
        <div class="col-sm my-fixed-scrollbar">


          <form method="post">
          {% csrf_token %}
          <button name="named" value="Global" class=
                                  {% if activefor == "Global" %}
                                   "btn btn-light btn-sp text-left active"
                                  {% else %}
                                  "btn btn-light btn-sp text-left"
                                  {% endif %}>
            Global
            <span class="space">  </span>
            <span class="btn btn-outline-danger">{{totalconfirmed}}</span>
          </button>
        </form>


          {% for region in regions %}
            <form method="post">
              {% csrf_token %}


              <button name="named" value="{{ region.name }}" class=
                                        {% if activefor == region.name %}
                                         "btn btn-light btn-sp text-left active"
                                         {% else %}
                                         "btn btn-light btn-sp text-left"
                                         {% endif %}>
                {{ region.name }}
                <span class="space">  </span>
                <span class="btn btn-outline-danger">{{region.totalconfirmed}}</span>
              </button>

            </form>
            {% endfor %}

        </div>
      </div>
    </div>




{% endblock %}
